<div class="container">
    <h2>Lista de Productos</h2>
    <div class="row">
      <div class="col-md-2" *ngFor="let producto of productos">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{producto['descripcion']}}</h5>
            <p class="card-text">Precio: {{producto['valorUnitario']}}</p>
            <input type="checkbox" [(ngModel)]="producto.selected">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="agregarAlCarrito()">Agregar al carrito</button>
      </div>
    </div>
  </div>
